<div class="min-h-full">  
  <nav class="bg-gray-800">  
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">  
      <div class="flex h-16 items-center justify-between">  
        <div class="flex items-center">  
          <div class="flex-shrink-0">  
            <a href="/">  
              <h2 style="color: white;">Italian Market</h2>
            </a>  
          </div>  
          <div class="hidden md:block">  
            <div class="ml-10 flex items-baseline space-x-4">  
              <a href="player" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Players</a>
              <a href="team" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Teams</a>
              <a href="add" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Add Player</a>  

              <div class="relative">  
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>  
                <div class="absolute inset-y-0 start-0 flex items-center pl-3">  
                  <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">  
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>  
                  </svg>  
                </div>  
                <input   
                  type="text"   
                  id="default-search"   
                  placeholder="Buscar..."   
                  [(ngModel)]="searchTerm"   
                  (input)="onSearchTermChange()"   
                  class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"  
                />  
              </div>  
            </div>  
          </div>  
        </div>  

        <div class="-mr-2 flex md:hidden">  
          <button type="button" (click)="toggleMobileMenu()" class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white">  
            <span class="sr-only">Open main menu</span>  
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">  
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />  
            </svg>  
          </button>  
        </div>  
      </div>  
    </div>  
  </nav>  

  <!-- Sidebar para móviles -->  
  <div class="fixed inset-0 z-30 transition-opacity" [ngClass]="{'opacity-100': isMobileMenuOpen, 'opacity-0 pointer-events-none': !isMobileMenuOpen}">  
    <div class="absolute inset-0 bg-gray-600 opacity-75" (click)="toggleMobileMenu()"></div>  
    <div class="fixed inset-y-0 left-0 z-40 w-64 bg-gray-800 p-4 transition-transform transform" [ngClass]="{'translate-x-0': isMobileMenuOpen, '-translate-x-full': !isMobileMenuOpen}">  
      <h3 class="text-white text-lg mb-4">Options</h3>  
      <nav class="flex flex-col space-y-2">  
        <a href="player" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Players</a>
        <a href="team" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Teams</a>
        <a href="add" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Add Player</a> 
      </nav>  
    </div>  
  </div>  
</div>