<app-header></app-header>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Team Information</h1>
    </div>
      <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <div class="mt-6" style="display: flex;">
            <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
              <h1 class="text-xl font-bold tracking-tight text-gray-900">Country: {{teamData.country}}</h1>
              <h1 class="text-xl font-bold tracking-tight text-gray-900">Fundation: {{teamData.fundation}}</h1>
            </div>
          </div>
        </div>
      </main>
    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl border-t border-b border-gray-100 font-bold tracking-tight text-gray-900">Players</h1>
        </div>
    </main>
      <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <ul role="list" class="divide-y divide-gray-100">
            <ul role="list" class="divide-y divide-gray-100">
              @for(datas of data; track datas.idPlayer){
                <li class="flex justify-between gap-x-6 py-5">
                  <div class="flex min-w-0 gap-x-4">
                    <div class="min-w-0 flex-auto">
                      <p class="text-sm font-semibold leading-6 text-gray-900">{{datas.firstName}} {{datas.lastName}}</p>
                      <p class="mt-1 truncate text-xs leading-5 text-gray-500">Position: {{datas.position}}</p>
                      <p class="mt-1 truncate text-xs leading-5 text-gray-500">Birth Date: {{formatDate(datas.birth_date)}}</p>
                    </div>
                  </div>
                  <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="text-sm leading-6 text-gray-900">Cost: {{datas.cost}}</p>
                    <p class="text-sm leading-6 text-gray-900">Salary: {{datas.salary}}</p>
                    <p class="text-sm leading-6 text-gray-900">Joined: {{formatDate(datas.beginDate)}}</p>
                    <p class="text-sm leading-6 text-gray-900">Expired: {{formatDate(datas.endDate)}}</p>
                  </div>
                </li>
              }
            </ul>
          </ul>
        </div>
      </main>
</header>