<app-header></app-header>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Player Information</h1>
    </div>
</header>
<main class="px-4 py-6 sm:px-6 lg:px-8">  
  <div class="flex flex-col sm:flex-row gap-6">  
    <img src="assets/players/{{data.lastName}}.png" alt="{{data.lastName}}"/>
    <div class="flex-1">  
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Team</h1> 
      <img src="assets/teams/{{data.name}}.png" alt="{{data.name}}" class="team-image"/> 
      <h1 class="text-2xl tracking-tight text-gray-900">{{data.name}}</h1>   
    </div>  
    
    <div class="flex-1">  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Market Cost: {{data.cost}}</h1>  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Salary: {{data.salary}}</h1>  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Joined: {{formatDate(data.beginDate)}}</h1>  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Expired: {{formatDate(data.endDate)}}</h1>  
    </div>  
    
    <div class="flex-1">  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Games: {{data.games}}</h1>  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Goals: {{data.goals}}</h1>  
      <h1 class="text-xl font-bold tracking-tight text-gray-900">Assists: {{data.assists}}</h1>  
    </div>  
  </div>  
  
  <div class="mt-6 border-t border-gray-100">  
    <dl class="divide-y divide-gray-100">  
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">  
        <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>  
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{data.firstName}} {{data.lastName}}</dd>  
      </div>  
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">  
        <dt class="text-sm font-medium leading-6 text-gray-900">Position</dt>  
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{data.position}}</dd>  
      </div>  
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">  
        <dt class="text-sm font-medium leading-6 text-gray-900">Birth date</dt>  
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{formatDate(data.birth_date)}}</dd>  
      </div>  
    </dl>  
  </div>  
</main> 