<app-header [searchTerm]="searchTerm" (searchTermChange)="onSearchTermChange($event)"></app-header>

<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Teams</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <ul role="list" class="divide-y divide-gray-100">
            @for(team of filteredTeams; track team.idTeam){
              <li class="flex justify-between gap-x-6 py-5">
                <div class="flex min-w-0 gap-x-4">
                  <img src="assets/teams/{{team.name}}.png" alt="{{team.name}}" class="team-image"/>
                  <div class="min-w-0 flex-auto">
                    <a href="teamInfo/{{team.name}}"><p class="text-sm font-semibold leading-6 text-gray-900">{{team.name}}</p></a>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{team.country}}</p>
                  </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm leading-6 text-gray-900">Fundation: {{team.fundation}}</p>
                </div>
              </li>
            }
          </ul>
      </div>
  </main>
