p.text-sm.font-semibold.leading-6.text-gray-900:hover{
    color: blue;
}

header.bg-white.shadow{
    background: #8f8989;
}

main{
    background: #E2DAD6;
}

li.flex.justify-between.gap-x-6.py-5{
    border-color: black;
}

p.mt-1.truncate.text-xs.leading-5.text-gray-500{
    font-weight: bold;
    color: rgb(61, 60, 60);
}

p.text-sm.font-semibold.leading-6.text-gray-900{
    font-weight: bold;
}

p.text-sm.leading-6.text-gray-900{
    font-weight: bold;
}

.team-image {  
    height: 40px; /* Puedes ajustar la altura según necesites */  
    width: 40px;  /* Ajusta el ancho según necesites */  
    object-fit: cover; /* Mantiene la relación de aspecto */  
    border-radius: 8px; /* Para esquinas redondeadas, opcional */  
}  