<app-header [searchTerm]="searchTerm" (searchTermChange)="onSearchTermChange($event)"></app-header>
<header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Players</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <ul role="list" class="divide-y divide-gray-100">
        <ul role="list" class="divide-y divide-gray-100">
          @for(player of filteredPlayers; track player.idPlayer){
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex min-w-0 gap-x-4">
                <img src="assets/players/{{player.lastName}}.png" alt="{{player.lastName}}" class="h-16 w-16 object-cover"/>
                <div class="min-w-0 flex-auto">
                  <a href="playerInfo/{{player.firstName}}/{{player.lastName}}"><p class="text-sm font-semibold leading-6 text-gray-900">{{player.firstName}} {{player.lastName}}</p></a>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">Position: {{player.position}}</p>
                </div>
              </div>
              <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900">Cost: {{player.cost}}</p>
              </div>
            </li>
          }
        </ul>
      </ul>
    </div>
  </main>